<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="openOfficeConnection" class="com.artofsolving.jodconverter.openoffice.connection.SocketOpenOfficeConnection" destroy-method="disconnect">
		<!-- host -->
		<constructor-arg index="0">
			<value>localhost</value>
		</constructor-arg>
		<!-- port -->
		<constructor-arg index="1">
			<value>8100</value>
		</constructor-arg>
	</bean>

	<bean id="documentFormatRegistry" class="com.artofsolving.jodconverter.XmlDocumentFormatRegistry"/>

	<bean id="documentConverter" class="com.artofsolving.jodconverter.openoffice.converter.OpenOfficeDocumentConverter">
		<constructor-arg index="0">
			<ref bean="openOfficeConnection"/>
		</constructor-arg>
		<constructor-arg index="1">
			<ref bean="documentFormatRegistry"/>
		</constructor-arg>
	</bean>

</beans>